.container {
    display: flex;
    background-color: #000;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;  
}

.img{
    width: 99vw
}

h1{
    color: white
}