.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 90vw;
    padding: 10rem 0rem;
}

.card{
    display: flex;
    flex-direction: column;
    width: 32rem;
    height: 22rem;
    background-color: #fff;
    margin: 15px 10px;
    padding: 1rem 1rem;
    justify-content: space-between;
}

.imageTeste{
    width: 100%;
    height: 19rem;
    z-index: 2;
    transition: opacity 1s;
}

.imageTeste:hover{
    opacity: 0;
}

.imageTeste2{
    position: absolute;
    z-index: 1;
    width: 32rem;
    height: 19rem;
}

.infosCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.price{
    font-size: 28px;
    color: #000
}

.name{
    font-size: 20px;
    color: #000
}

.particles{
    position: fixed;  
    width: 100%; 
    height: 100vh; 
    top: 1px
}

