.particles{
    position: fixed;  
    width: 100%; 
    height: 100vh; 
}

.content{
    display: flex;
    align-items: center;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;  
}

.img{
    width: 99vw
}