.header {
    display: flex;
    background-color: #000;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 200;
}

.infoSec {
    display: flex;
    width: 30rem;
    justify-content: space-between;
    align-items: center
}

.loginTXT{
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.rightSide{
    display: flex;
    width: 15rem;
    justify-content: space-between;
    align-items: center
}

h6   {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-style: italic
}